# Data merging of FFIEC and UBFR Reports

### Purpose: To get a clean, workable, datafile. 

#### By: Jesus Plascencia 
#### On: Oct 8, 2025

In [3]:
#On Mac
#!pip install missingno
#pip install pyjanitor

#Windows
!pip install missingno pyjanitor

Requirement already satisfied: missingno in c:\users\jesus\anaconda3\lib\site-packages (0.5.2)
Requirement already satisfied: pyjanitor in c:\users\jesus\anaconda3\lib\site-packages (0.31.0)
Requirement already satisfied: numpy in c:\users\jesus\anaconda3\lib\site-packages (from missingno) (2.1.3)
Requirement already satisfied: matplotlib in c:\users\jesus\anaconda3\lib\site-packages (from missingno) (3.10.0)
Requirement already satisfied: scipy in c:\users\jesus\anaconda3\lib\site-packages (from missingno) (1.15.3)
Requirement already satisfied: seaborn in c:\users\jesus\anaconda3\lib\site-packages (from missingno) (0.13.2)
Requirement already satisfied: natsort in c:\users\jesus\anaconda3\lib\site-packages (from pyjanitor) (8.4.0)
Requirement already satisfied: pandas_flavor in c:\users\jesus\anaconda3\lib\site-packages (from pyjanitor) (0.7.0)
Requirement already satisfied: multipledispatch in c:\users\jesus\anaconda3\lib\site-packages (from pyjanitor) (0.6.0)
Requirement already satisfied: contourpy>=1.0.1 in c:\users\jesus\anaconda3\lib\site-packages (from matplotlib->missingno) (1.3.1)
Requirement already satisfied: cycler>=0.10 in c:\users\jesus\anaconda3\lib\site-packages (from matplotlib->missingno) (0.11.0)
Requirement already satisfied: fonttools>=4.22.0 in c:\users\jesus\anaconda3\lib\site-packages (from matplotlib->missingno) (4.55.3)
Requirement already satisfied: kiwisolver>=1.3.1 in c:\users\jesus\anaconda3\lib\site-packages (from matplotlib->missingno) (1.4.8)
Requirement already satisfied: packaging>=20.0 in c:\users\jesus\anaconda3\lib\site-packages (from matplotlib->missingno) (24.2)
Requirement already satisfied: pillow>=8 in c:\users\jesus\anaconda3\lib\site-packages (from matplotlib->missingno) (11.1.0)
Requirement already satisfied: pyparsing>=2.3.1 in c:\users\jesus\anaconda3\lib\site-packages (from matplotlib->missingno) (3.2.0)
Requirement already satisfied: python-dateutil>=2.7 in c:\users\jesus\anaconda3\lib\site-packages (from matplotlib->missingno) (2.9.0.post0)
Requirement already satisfied: six>=1.5 in c:\users\jesus\anaconda3\lib\site-packages (from python-dateutil>=2.7->matplotlib->missingno) (1.17.0)
Requirement already satisfied: pandas>=0.23 in c:\users\jesus\anaconda3\lib\site-packages (from pandas_flavor->pyjanitor) (2.2.3)
Requirement already satisfied: xarray in c:\users\jesus\anaconda3\lib\site-packages (from pandas_flavor->pyjanitor) (2025.4.0)
Requirement already satisfied: pytz>=2020.1 in c:\users\jesus\anaconda3\lib\site-packages (from pandas>=0.23->pandas_flavor->pyjanitor) (2024.1)
Requirement already satisfied: tzdata>=2022.7 in c:\users\jesus\anaconda3\lib\site-packages (from pandas>=0.23->pandas_flavor->pyjanitor) (2025.2)

In [4]:
# Basic import pandas as pd
import os
import missingno as msno
import janitor

# Loading Banking data, going from pickle to Parquet
Reading this dataframe is very time consuming, I'm going to use parquet, I might even load in specific snippets just for my mac. It took minutes to load using pickle, now it takes 51 seconds so its more efficient.

Once I fully understand each column I'll load in specific columns. For now, I really want to understand what it is im looking at

In [5]:
#Ask bieri how to make a global path 
df = pd.read_pickle(r"C:\Users\jesus\Desktop\data\bank_data_2002_to_2023.pkl")
#var_def = pd.read_csv(r"C:\Users\jesus\Desktop\VariableDefinitions.csv")

#df = pd.read_parquet(r'/Users/jesusplascencia/Desktop/Indepndent_data/bank_data_2002_to_2023.parquet')

In [6]:
df.head(3)

,Reporting Period End Date,IDRSSD,FDIC Certificate Number,OCC Charter Number,OTS Docket Number,Primary ABA Routing Number,Financial Institution Name,Financial Institution Address,Financial Institution City,Financial Institution State,...,RIADHT69,RIADHT70,RIADHT73,RIADHT74,RCFD2143,RCFDJA22,RCON2143,RCONJJ34,RIADJJ33,RCFDJJ34
0,2002-12-31,37.0,10057.0,0.0,16553.0,61107146.0,BANK OF HANCOCK COUNTY,321 BROAD STREET,SPARTA,GA,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2002-12-31,242.0,3850.0,0.0,12627.0,81220537.0,FIRST COMMUNITY BANK XENIA-FLORA,FRONT STREET,XENIA,IL,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2002-12-31,279.0,28868.0,0.0,2523.0,311972526.0,"MINEOLA COMMUNITY BANK, SSB",215 W BROAD,MINEOLA,TX,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [7]:
df.describe()

,Reporting Period End Date,IDRSSD,FDIC Certificate Number,OCC Charter Number,OTS Docket Number,Primary ABA Routing Number,Financial Institution Zip Code,Financial Institution Filing Type
count,591114,5.911140e+05,591114.000000,591114.000000,591114.000000,5.911140e+05,5.911140e+05,591114.000000
mean,2011-12-20 10:04:41.147799040,1.012928e+06,21049.988929,24016.094428,4402.678644,9.853230e+07,3.548824e+07,42.572032
min,2002-03-31 00:00:00,3.700000e+01,0.000000,0.000000,0.000000,0.000000e+00,0.000000e+00,31.000000
25%,2006-06-30 00:00:00,3.287770e+05,8852.000000,0.000000,0.000000,6.700044e+07,3.764300e+04,41.000000
50%,2011-06-30 00:00:00,6.589240e+05,16472.000000,0.000000,0.000000,8.430301e+07,5.710400e+04,41.000000
75%,2016-12-31 00:00:00,9.786590e+05,29430.000000,0.000000,10686.000000,1.110245e+08,7.205800e+04,41.000000
max,2023-12-31 00:00:00,5.860740e+06,91385.000000,718184.000000,80861.000000,3.252713e+08,9.936204e+08,51.000000
std,NaN,1.035594e+06,17122.238628,120011.383852,6603.031598,5.854406e+07,1.526362e+08,4.026490

In [8]:
df.dtypes

Reporting Period End Date    datetime64[ns]
IDRSSD                              float64
FDIC Certificate Number             float64
OCC Charter Number                  float64
OTS Docket Number                   float64
                                  ...
RCFDJA22                             object
RCON2143                             object
RCONJJ34                             object
RIADJJ33                             object
RCFDJJ34                             object
Length: 630, dtype: object

In [9]:
col_list= list(df.columns)
print(col_list)

['Reporting Period End Date', 'IDRSSD', 'FDIC Certificate Number', 'OCC Charter Number', 'OTS Docket Number', 'Primary ABA Routing Number', 'Financial Institution Name', 'Financial Institution Address', 'Financial Institution City', 'Financial Institution State', 'Financial Institution Zip Code', 'Financial Institution Filing Type', 'Last Date/Time Submission Updated On', 'RIAD4180', 'RIAD4185', 'RIAD4200', 'RIAD4217', 'RIAD4230', 'RIAD4300', 'RIAD4301', 'RIAD4302', 'RIAD4313', 'RIAD4320', 'RIAD4340', 'RIAD4507', 'RIAD4508', 'RIAD4513', 'RIAD4518', 'RIAD5415', 'RIAD5416', 'RIAD8431', 'RIAD8757', 'RIAD8758', 'RIAD8759', 'RIAD8760', 'RIAD8761', 'RIAD8762', 'RIAD8763', 'RIAD9106', 'RIADA220', 'RIADA251', 'RIADA517', 'RIADA518', 'RIADA530', 'RIADB485', 'RIADB486', 'RIADB487', 'RIADB488', 'RIADB489', 'RIADB490', 'RIADB491', 'RIADB492', 'RIADB493', 'RIADB494', 'RIADB496', 'RIADB497', 'RIADC216', 'RIADC232', 'RCFD0071', 'RCFD0081', 'RCFD0426', 'RCFD1248', 'RCFD1249', 'RCFD1250', 'RCFD1251', 'RCFD1252', 'RCFD1253', 'RCFD1254', 'RCFD1255', 'RCFD1256', 'RCFD1257', 'RCFD1258', 'RCFD1259', 'RCFD1271', 'RCFD1272', 'RCFD1583', 'RCFD1594', 'RCFD1597', 'RCFD1658', 'RCFD1659', 'RCFD1661', 'RCFD1754', 'RCFD1773', 'RCFD1791', 'RCFD2130', 'RCFD2145', 'RCFD2150', 'RCFD2155', 'RCFD2160', 'RCFD2170', 'RCFD2920', 'RCFD2930', 'RCFD2948', 'RCFD3000', 'RCFD3123', 'RCFD3163', 'RCFD3190', 'RCFD3200', 'RCFD3210', 'RCFD3230', 'RCFD3300', 'RCFD3505', 'RCFD3506', 'RCFD3507', 'RCFD3529', 'RCFD3530', 'RCFD3545', 'RCFD3548', 'RCFD3632', 'RCFD3838', 'RCFD3839', 'RCFD5369', 'RCFD5377', 'RCFD5378', 'RCFD5379', 'RCFD5380', 'RCFD5381', 'RCFD5382', 'RCFD5389', 'RCFD5390', 'RCFD5391', 'RCFD5459', 'RCFD5460', 'RCFD5461', 'RCFD5612', 'RCFD5613', 'RCFD5614', 'RCFD5615', 'RCFD5616', 'RCFD5617', 'RCFD6558', 'RCFD6559', 'RCFD6560', 'RCFD6724', 'RCFDA130', 'RCFDB528', 'RCFDB529', 'RCFDB530', 'RCFDB575', 'RCFDB576', 'RCFDB577', 'RCFDB578', 'RCFDB579', 'RCFDB580', 'RCFDB989', 'RCFDB995', 'RCFDC226', 'RCFDC240', 'RCFDC241', 'RCFN2200', 'RCFN6631', 'RCFN6636', 'RCFNB572', 'RCFNB573', 'RCFNB574', 'RCON0071', 'RCON0081', 'RCON0426', 'RCON1226', 'RCON1227', 'RCON1228', 'RCON1248', 'RCON1249', 'RCON1250', 'RCON1254', 'RCON1255', 'RCON1256', 'RCON1271', 'RCON1272', 'RCON1583', 'RCON1594', 'RCON1597', 'RCON1606', 'RCON1607', 'RCON1608', 'RCON1658', 'RCON1659', 'RCON1661', 'RCON1754', 'RCON1773', 'RCON1791', 'RCON2130', 'RCON2145', 'RCON2150', 'RCON2155', 'RCON2160', 'RCON2170', 'RCON2200', 'RCON2759', 'RCON2769', 'RCON2920', 'RCON2930', 'RCON2948', 'RCON3000', 'RCON3123', 'RCON3163', 'RCON3190', 'RCON3200', 'RCON3210', 'RCON3230', 'RCON3300', 'RCON3492', 'RCON3493', 'RCON3494', 'RCON3495', 'RCON3499', 'RCON3500', 'RCON3501', 'RCON3502', 'RCON3503', 'RCON3504', 'RCON3505', 'RCON3506', 'RCON3507', 'RCON3529', 'RCON3530', 'RCON3545', 'RCON3548', 'RCON3632', 'RCON3838', 'RCON3839', 'RCON5369', 'RCON5380', 'RCON5381', 'RCON5382', 'RCON5389', 'RCON5390', 'RCON5391', 'RCON5398', 'RCON5399', 'RCON5400', 'RCON5459', 'RCON5460', 'RCON5461', 'RCON5612', 'RCON5613', 'RCON5614', 'RCON5615', 'RCON5616', 'RCON5617', 'RCON6558', 'RCON6559', 'RCON6560', 'RCON6631', 'RCON6636', 'RCON6724', 'RCONA130', 'RCONB528', 'RCONB529', 'RCONB530', 'RCONB575', 'RCONB576', 'RCONB577', 'RCONB578', 'RCONB579', 'RCONB580', 'RCONB834', 'RCONB835', 'RCONB836', 'RCONB987', 'RCONB989', 'RCONB993', 'RCONB995', 'RCONC226', 'RCONC229', 'RCONC230', 'RCONC236', 'RCONC237', 'RCONC238', 'RCONC239', 'RCONC240', 'RCONC241', 'RIAD0093', 'RIAD3196', 'RIAD3521', 'RIAD4010', 'RIAD4011', 'RIAD4012', 'RIAD4020', 'RIAD4024', 'RIAD4056', 'RIAD4058', 'RIAD4059', 'RIAD4060', 'RIAD4065', 'RIAD4069', 'RIAD4070', 'RIAD4073', 'RIAD4074', 'RIAD4079', 'RIAD4080', 'RIAD4092', 'RIAD4093', 'RIAD4107', 'RIAD4115', 'RIAD4135', 'RIAD4150', 'RIAD4172', 'RIADC386', 'RIADC387', 'RCONB868', 'RCFDC866', 'RCFDC867', 'RCFDC868', 'RCONC866', 'RCONC867', 'RCONC868', 'RCFDC410', 'RCFDC411', 'RCONC410', 'RCONC411', 'RCFDF166', 'RCFDF167', 'RCFDF168', 'RCFDF169', 'RCFDF170', 'RCFDF171', 'RCONF166', 'RCONF167', 'RCONF168', 'RCONF172', 'RCONF173', 'RCONF174', 'RCONF175', 'RCONF176', 'RCONF177', 'RCONF178', 'RCONF179', 'RCONF180', 'RCONF181', 'RCONF182', 'RCONF183', 'RIADC886', 'RIADC887', 'RIADC888', 'RIADC889', 'RIADC890', 'RIADF186', 'RIADF228', 'RCFDF664', 'RCFDF665', 'RCFDF666', 'RCFDF667', 'RCFDF668', 'RCFDF669', 'RCONF661', 'RCONF662', 'RCONF663', 'RCONF664', 'RCONF665', 'RCONF666', 'RCONF667', 'RCONF668', 'RCONF669', 'RIAD4435', 'RIAD4436', 'RIADF551', 'RIADF552', 'RIADF553', 'RIADF554', 'RCFD3656', 'RCFDG105', 'RCON3656', 'RCON8678', 'RCONG105', 'RIADG103', 'RIADG104', 'RIADJ319', 'RIADJ320', 'RIADJ321', 'RCONK036', 'RCONK037', 'RCONK038', 'RCONK039', 'RCONK040', 'RCONK041', 'RCONK042', 'RCONK043', 'RCONK044', 'RCONK045', 'RCONK046', 'RCONK047', 'RCONK048', 'RCONK049', 'RCONK050', 'RCONK051', 'RCONK052', 'RCONK053', 'RCONK054', 'RCONK055', 'RCONK056', 'RCONK057', 'RCONK058', 'RCONK059', 'RCONK060', 'RCONK061', 'RCONK062', 'RCONK063', 'RCONK064', 'RCONK065', 'RCONK066', 'RCONK067', 'RCONK068', 'RCONK069', 'RCONK070', 'RCONK071', 'RCONK072', 'RCONK073', 'RCONK074', 'RCONK075', 'RCONK076', 'RCONK077', 'RCONK078', 'RCONK079', 'RCONK080', 'RCONK081', 'RCONK082', 'RCONK083', 'RCONK084', 'RCONK085', 'RCONK086', 'RCONK087', 'RCONK088', 'RCONK089', 'RCONK091', 'RCONK092', 'RCONK093', 'RCONK095', 'RCONK096', 'RCONK097', 'RCONK099', 'RCONK100', 'RCONK101', 'RCONK102', 'RCONK103', 'RCONK104', 'RCONK105', 'RCONK106', 'RCONK107', 'RCONK108', 'RCONK109', 'RCONK110', 'RCONK111', 'RCONK112', 'RCONK113', 'RCONK114', 'RCONK115', 'RCONK116', 'RCONK117', 'RCONK118', 'RCONK119', 'RCONK120', 'RCONK121', 'RCONK122', 'RCONK123', 'RCONK124', 'RCONK125', 'RCONK126', 'RCONK127', 'RCONK128', 'RCONK130', 'RCONK131', 'RCONK132', 'RCONK134', 'RCONK135', 'RCONK136', 'RCONK138', 'RCONK139', 'RCONK140', 'RCONK213', 'RCONK214', 'RCONK215', 'RCONK216', 'RCONK217', 'RCONK218', 'RCONK257', 'RCONK258', 'RCONK259', 'RCONK269', 'RCONK271', 'RCONK272', 'RCONK274', 'RCONK275', 'RCONK276', 'RCONK277', 'RCONK278', 'RCONK279', 'RCONK280', 'RCONK281', 'RCONK282', 'RCONK283', 'RCONK284', 'RCONK285', 'RCONK286', 'RCONK287', 'RCONK288', 'RCFDK036', 'RCFDK037', 'RCFDK038', 'RCFDK039', 'RCFDK040', 'RCFDK041', 'RCFDK042', 'RCFDK043', 'RCFDK044', 'RCFDK072', 'RCFDK073', 'RCFDK074', 'RCFDK075', 'RCFDK076', 'RCFDK077', 'RCFDK078', 'RCFDK079', 'RCFDK080', 'RCFDK081', 'RCFDK082', 'RCFDK083', 'RCFDK084', 'RCFDK085', 'RCFDK086', 'RCFDK087', 'RCFDK088', 'RCFDK089', 'RCFDK091', 'RCFDK092', 'RCFDK093', 'RCFDK095', 'RCFDK096', 'RCFDK097', 'RCFDK099', 'RCFDK100', 'RCFDK101', 'RCFDK102', 'RCFDK103', 'RCFDK104', 'RCFDK120', 'RCFDK121', 'RCFDK122', 'RCFDK123', 'RCFDK124', 'RCFDK125', 'RCFDK126', 'RCFDK127', 'RCFDK128', 'RCFDK134', 'RCFDK135', 'RCFDK136', 'RCFDK138', 'RCFDK139', 'RCFDK140', 'RCFDK213', 'RCFDK214', 'RCFDK215', 'RCFDK216', 'RCFDK217', 'RCFDK218', 'RCFDK269', 'RCFDK271', 'RCFDK272', 'RCFDK274', 'RCFDK275', 'RCFDK276', 'RCFDK277', 'RCFDK278', 'RCFDK279', 'RCFDK280', 'RCFDK281', 'RCFDK282', 'RCFDK283', 'RCFDK284', 'RCFDK285', 'RCFDK286', 'RCFDK287', 'RCFDK288', 'RCFNK291', 'RCFNK292', 'RCFNK293', 'RCFNK294', 'RCFNK295', 'RCFNK296', 'RIADK090', 'RIADK094', 'RCONL183', 'RCONL184', 'RCONL185', 'RCONL186', 'RCONL187', 'RCONL188', 'RCFDL183', 'RCFDL184', 'RCFDL185', 'RCFDL186', 'RCFDL187', 'RCFDL188', 'RIADH032', 'RIADH033', 'RIADH034', 'RIADH035', 'RIADFT28', 'RCFD1403', 'RCFD1406', 'RCFD1407', 'RCFDHK26', 'RCFDHK27', 'RCFDHK28', 'RCON1403', 'RCON1406', 'RCON1407', 'RCONHK26', 'RCONHK27', 'RCONHK28', 'RIADFT36', 'RIADFT37', 'RIADFT38', 'RIADFT39', 'RIADFT40', 'RIADGW44', 'RIADHK03', 'RIADHK04', 'RCONJA22', 'RIADHT69', 'RIADHT70', 'RIADHT73', 'RIADHT74', 'RCFD2143', 'RCFDJA22', 'RCON2143', 'RCONJJ34', 'RIADJJ33', 'RCFDJJ34']

In [10]:
#Seeing how many NaN I am dealing with
reviewing_na = df.isna().mean().sort_values(ascending=False)
reviewing_na.head(10)

RIADFT36    0.998645
RIADFT37    0.998645
RIADFT38    0.998643
RIADFT40    0.998643
RIADFT39    0.998643
RIADK094    0.998609
RIADK090    0.998609
RCFDJJ34    0.997241
RCFDJA22    0.996938
RCFD2143    0.996858
dtype: float64

#### Variables have lots of NaN, understanding the data w/defintions

Date column is currently an object I'm just making sure the dataset is in the correct format for me to do analysis

In [11]:
print(df.isna().sum())

Reporting Period End Date         0
IDRSSD                            0
FDIC Certificate Number           0
OCC Charter Number                0
OTS Docket Number                 0
                              ...
RCFDJA22                     589304
RCON2143                     476864
RCONJJ34                     493214
RIADJJ33                     491583
RCFDJJ34                     589483
Length: 630, dtype: int64

In [12]:
print(df['Last Date/Time Submission Updated On'].dtypes) # Incorrectly specified

object

In [13]:
df['Last Date/Time Submission Updated On'].head(10)

0    2005-08-08T16:16:33
1    2005-08-08T16:16:33
2    2005-08-08T16:16:33
3    2005-08-08T16:16:33
4    2005-08-08T16:16:33
5    2005-08-08T16:16:33
6    2005-08-08T16:16:33
7    2005-08-08T16:16:33
8    2005-08-08T16:16:33
9    2005-08-08T16:16:33
Name: Last Date/Time Submission Updated On, dtype: object

#### Converting from object to a timestamp

In [14]:
df['date'] = pd.to_datetime(df['Last Date/Time Submission Updated On'], yearfirst=True)
df['date'].dtype

C:\Users\jesus\AppData\Local\Temp\ipykernel_8904\2714530576.py:1: PerformanceWarning: DataFrame is highly fragmented.  This is usually the result of calling `frame.insert` many times, which has poor performance.  Consider joining all columns at once using pd.concat(axis=1) instead. To get a de-fragmented frame, use `newframe = frame.copy()`
  df['date'] = pd.to_datetime(df['Last Date/Time Submission Updated On'], yearfirst=True)

dtype('<M8[ns]')

In [15]:
df['date'].head(1)

0   2005-08-08 16:16:33
Name: date, dtype: datetime64[ns]

**Range of the data**

We are dealing with data from 2005 to 2024.

In [16]:
df.date.min(),df.date.max()

(Timestamp('2005-08-05 02:06:21'), Timestamp('2024-10-11 16:17:56'))

In [17]:
print(f"""
Date: {df.date.iloc[0]}
Day of year: {df.date.dt.day_of_year.iloc[0]}
Day of week: {df.date.dt.dayofweek.iloc[0]}
Month: {df.date.dt.month.iloc[0]}
Month Name: {df.date.dt.month_name().iloc[0]}
Quarter: {df.date.dt.quarter.iloc[0]}
Year: {df.date.dt.year.iloc[0]}
ISO Week: {df.date.dt.isocalendar().week.iloc[0]}
""")

Date: 2005-08-08 16:16:33
Day of year: 220
Day of week: 0
Month: 8
Month Name: August
Quarter: 3
Year: 2005
ISO Week: 32

**missing values?**

In [18]:
df['RIADHT70'] = pd.to_numeric(df['RIADHT70'], errors='coerce')

df['RIADHT70'].dtype

dtype('float64')